{%extends "freshMall/index_base.html"%}
{%load static from staticfiles%}

{%block maincontent%}
<!-- 在这个页面引入这个页面的js -->
	<script type="text/javascript" src="{%static 'freshMall/js/cart2.js'%}"></script>


	<div class="total_count">全部商品<em>2</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	{%for car in carlist%}
	<!-- 这个页面只展示没有被结算的 -->
	<!-- 这里加个判断 如果购物车里的已经结算成为,订单了就把这个商品不再展示在这个页面  -->
		{%if car.isDelete = 0 %}
			<ul class="cart_list_td clearfix">
				<li class="col01" ><input type="checkbox" name=""  id='checked' ></li>
				<li class="col02"><img src="{%static car.goodsId.goodsRoute%}"></li>
				<li class="col03"><span>{{car.goodsId.goodsName}} </span><br><em>{{car.goodsId.goodsPrice}}/{{car.goodsId.goodsUnit}}</em></li>
				<li class="col04">{{car.goodsId.goodsUnit}}</li>
				<li class="col05">{{car.goodsId.goodsPrice}}</li>
				<li class="col06">
					<div class="num_add">
						<a href="javascript:;" class="add fl">+</a>
						<input type="text" class="num_show fl" value='{{car.c}}' name='{{car.goodsId.id}}'">	 
						<a href="javascript:;" class="minus fl">-</a>	
					</div>
				</li>
				<li class="col07">￥<span>{{car.total}}</span></li>
				<li class="col08"><a href="/place_order/" id='remove'>删除</a></li>
		{%endif%}

	</ul>


	{%endfor%}


	<ul class="settlements">
		<li class="col01 all"><input type="checkbox" name="" ></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id='total_pic'>0</em><br>共计<b id="total_num">0</b>件商品</li>
		<li class="col04"><a href="/place_order/">去结算</a></li>

	</ul>

	

		
{%endblock maincontent%}