{%extends "freshMall/two_base.html"%}
{%block title%}<title>天天生鲜-商品详情</title>{%endblock%}
{%load static from staticfiles%}
{%block maincontent%}
	<script type="text/javascript" src="{%static 'freshMall/js/detail.js'%}"></script>
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="{% url 'freshMall:list'%}?classId=1" class="fruit">新鲜水果</a></li>
					<li><a href="{% url 'freshMall:list'%}?classId=2" class="seafood">海鲜水产</a></li>
					<li><a href="{% url 'freshMall:list'%}?classId=3" class="meet">猪牛羊肉</a></li>
					<li><a href="{% url 'freshMall:list'%}?classId=4" class="egg">禽类蛋品</a></li>
					<li><a href="{% url 'freshMall:list'%}?classId=5" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="{% url 'freshMall:list'%}?classId=6" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/index/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{%static goods.goodsRoute%}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.goodsName}}</h3>
			<p>{{goods.goodsResume}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.goodsPrice}}</em></span>
				<span class="show_unit">单  位：{{goods.goodsUnit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" name="{{goods.id}}">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80</em> &nbsp;&nbsp;元</div>
			<div class="operate_btn">
				<a href="/place_order/" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
			{%for good1 in recommendGoods%}
				<li>
						<a href="{% url 'freshMall:detail'%}?goodsId={{good1.id}}"><img src="{%static good1.goodsRoute%}"></a>
						<h4><a href="{% url 'freshMall:detail'%}?goodsId={{good1.id}}">{{good1.goodsName}}</a></h4>
						<div class="prize">￥{{good1.goodsPrice}}</div>
					</li>
				{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{goods.goodsDetail|safe}} </dd>
				</dl>
			</div>

		</div>
	</div>

	{%endblock maincontent%}