{%extends "freshMall/base2.html"%}
{%load static from staticfiles%}
<!-- 这是base 的开始 -->
{%block content%}

<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="{%static 'freshMall/images/logo.png'%}"></a>
		<div class="search_con fl">
			<form action='/search/' method='GET'>
			<input type="text" class="input_text fl" name="search" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>


{%block contentTuijian%}
	
{%block content2%}{%endblock%}
</div>

{%endblock%}




{%endblock content%}
