{%extends "freshMall/two_base.html"%}
{%block maincontent%}
{%load static from staticfiles%}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="{%static 'freshMall/images/slide.jpg'%}" alt="幻灯片"></li>
				<li><img src="{%static 'freshMall/images/slide02.jpg'%}" alt="幻灯片"></li>
				<li><img src="{%static 'freshMall/images/slide03.jpg'%}" alt="幻灯片"></li>
				<li><img src="{%static 'freshMall/images/slide04.jpg'%}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="{%static 'freshMall/images/adv01.jpg'%}"></a>

			<a href="#"><img src="{%static 'freshMall/images/adv02.jpg'%}"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{%static 'freshMall/images/banner01.jpg'%}"></div>
			<ul class="goods_list fl">
			
			{%for fruit in fruitlist%}
				<li>
					<h4><a href="/detail{{fruit.id}}/">{{fruit.goodsName}}</a></h4>
					<a href="/detail{{fruit.id}}/"><img src="{%static fruit.goodsRoute %}"></a>
					<div class="prize">¥ {{fruit.goodsPrice}}</div>
				</li>
			{%endfor%}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">河虾</a>
				<a href="#">扇贝</a>				
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{%static 'freshMall/images/banner02.jpg'%}"></div>
			<ul class="goods_list fl">
				{%for seafood in seafoodlist%}
				<li>
					<h4><a href="/detail{{seafood.id}}/">{{seafood.goodsName}}</a></h4>
					<a href="/detail{{seafood.id}}/"><img src="{%static seafood.goodsRoute %}"></a>
					<div class="prize">¥ {{seafood.goodsPrice}}</div>
				</li>
			{%endfor%}
	
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{%static 'freshMall/images/banner03.jpg'%}"></div>
			<ul class="goods_list fl">
				{%for meat in meatlist%}
				<li>
					<h4><a href="/detail{{meat.id}}/">{{meat.goodsName}}</a></h4>
					<a href="/detail{{meat.id}}/"><img src="{%static meat.goodsRoute %}"></a>
					<div class="prize">¥ {{meat.goodsPrice}}</div>
				</li>
			{%endfor%}


			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{%static 'freshMall/images/banner04.jpg'%}"></div>
			<ul class="goods_list fl">


		{%for poultry in poultrylist%}
				<li>
					<h4><a href="/detail{{poultry.id}}/">{{poultry.goodsName}}</a></h4>
					<a href="/detail{{poultry.id}}/"><img src="{%static poultry.goodsRoute %}"></a>
					<div class="prize">¥ {{poultry.goodsPrice}}</div>
				</li>
			{%endfor%}


			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{%static 'freshMall/images/banner05.jpg'%}"></div>
			<ul class="goods_list fl">
			{%for fruit in fruitlist%}
				<li>
					<h4><a href="/detail{{fruit.id}}/">{{fruit.goodsName}}</a></h4>
					<a href="/detail{{fruit.id}}/"><img src="{%static fruit.goodsRoute %}"></a>
					<div class="prize">¥ {{fruit.goodsPrice}}</div>
				</li>
			{%endfor%}
			
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{%static 'freshMall/images/banner06.jpg'%}"></div>
			<ul class="goods_list fl">
					{%for fruit in fruitlist%}
				<li>
					<h4><a href="#">{{fruit.goodsName}}</a></h4>
					<a href="#"><img src="{%static fruit.goodsRoute %}"></a>
					<div class="prize">¥ {{fruit.goodsPrice}}</div>
				</li>
			{%endfor%}

			</ul>
		</div>
	</div>
{%endblock maincontent%}

	