{%extends "freshMall/two_base2.html"%}
{%block title%}	<title>天天生鲜-提交订单</title>{%endblock%}

{%load static from staticfiles%}

{%block info%}
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
{%endblock%} 


{%block content1%}
<script type="text/javascript"> 
	$(function(){
		pic=$('.total_goods_count b').text()
		
			pic = parseFloat(pic)
			pic = pic+10
		console.log($('.total_pay b').text(pic))

		$('#order_btn').click(function(){

			$.post('/submitOrder/',{'orderSum':pic},function(data){
					if(data.result){
						window.location= '/user_center_order/'
					}



			});
			

		})




	});






</script>
	
	
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			<!-- <dd><input type="radio" name="" checked="">北京市 海淀区 东北旺西路8号中关村软件园 （李思 收） 182****7528</dd> -->

			{%for rece in receInfo%}
			{%if forloop.counter == 1%}
				<dd><input type="radio" name="reveperson" checked="checked">{{rece.addr}} ({{rece.recePerName}} &nbsp;收)  &nbsp;  联系方式:  {{rece.recePerTel}} </dd>
			{%else%}
				<dd><input type="radio" name="reveperson" >{{rece.addr}} ({{rece.recePerName}} &nbsp;收)  &nbsp;   联系方式: {{rece.recePerTel}} </dd>
				{%endif%}

			{%endfor%}
		</dl>
		<a href="/user_center_site/" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>

	{%for shop in submitCart%}
		<ul class="goods_list_td clearfix">
		<a href="{% url 'freshMall:detail'%}?goodsId={{shop.goodsId.id}}">
			<li class="col01">{{forloop.counter}}</li>			
			<li class="col02"><img src="{%static shop.goodsId.goodsRoute %}"></li>
			</a>
			<li class="col03">{{shop.goodsId.goodsName}}</li>
			<li class="col04">{{shop.goodsId.goodsUnit}}</li>
			<li class="col05">{{shop.goodsId.goodsPrice}}元</li>
			<li class="col06">{{shop.amount}}</li>
			<li class="col07">{{shop.total}}元</li>	
		</ul>


{%endfor%}

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>{{sumCount}}</em>件商品，总金额<b>{{sumPic}}</b>元</div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b>52.60</b>元</div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>	


	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
{%endblock content1%}