{%extends "freshMall/two_base2.html"%}
{%block title%}<title>天天生鲜-用户中心</title>{%endblock%}

{%load static from staticfiles%}

{%block info%}
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
{%endblock%} 

{%block content1%}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'freshMall:user_center_info'%}">· 个人信息</a></li>
				<li><a href="/user_center_order/" class="active">· 全部订单</a></li>
				<li><a href="{% url 'freshMall:user_center_site'%}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
	{%for order in orderlist%}

				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.orderDate}}</li>
					<li class="col02">订单号：{{order.orderNum}}</li>
					{%if order.isPay%}
						<li class="col02 stress">已支付</li>
					{%else%}
					<li class="col02 stress">未支付</li>
					{%endif%}
				</ul>
				
					<table class="order_list_table w980">
						<tbody>
						{%for deta in order.orderdetail_set.all%}
							<tr>
								<td width="55%">
									<ul class="order_goods_list clearfix">					
	                  <li class="col01"><img src="{%static deta.goodsId.goodsRoute%}"></li>
										<li class="col02">{{deta.goodsId.goodsName}}<em>{{deta.goodsId.goodsPrice}}元/{{deta.goodsId.goodsUnit}}</em></li>	
										<li class="col03">{{deta.goodsCount}}</li>
										<li class="col04">{{deta.total}}元</li>	
									</ul>
								</td>
								{%if forloop.counter == 1%}
								<!-- rowspan 适合并行 -->
								<td width="15%" rowspan="{{order.orderdetail_set.count}}">{{order.orderSum}}元</td>
								{%if order.isPay%}
									<td width="15%" rowspan="{{order.orderdetail_set.count}}">已付款</td>
									<td width="15%" rowspan="{{order.orderdetail_set.count}}"><a href="#" class="oper_btn" rowspan="{{order.orderdetail_set.count}}">查看物流</a></td>
								{%else%}
									<td width="15%" rowspan="{{order.orderdetail_set.count}}">待付款</td>
									<td width="15%" rowspan="{{order.orderdetail_set.count}}"><a href="#" class="oper_btn">去付款</a></td>
								{%endif%}
								{%endif%}
							</tr>
								{%endfor%}
								
						</tbody>
					</table>
				
				{%endfor%}

				<div class="pagenation">
				<a href="/user_center_order{{pindex}}/"><上一页</a>

				{%for pindex in pagelist%}
				
				<a href="/user_center_order{{pindex}}/">{{pindex}}</a>
			
			
				{%endfor%}
				<a href="/user_center_order{{pindex}}/">下一页></a>

				
				</div>
		</div>
	</div>
{%endblock content1%}



