{%extends "freshMall/two_base2.html"%}
{%block title%}<title>天天生鲜-用户中心</title>{%endblock%}

{%load static from staticfiles%}

{%block info%}
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
{%endblock%} 
{%block content1%}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
        <li><a href="{% url 'freshMall:user_center_info'%}" class="active">· 个人信息</a></li>
				<li><a href="/user_center_order/">· 全部订单</a></li>
				<li><a href="{% url 'freshMall:user_center_site'%}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>18210569700</li>
							<li><span>联系方式：</span>18210569700</li>
							<li><span>联系地址：</span>北京市昌平区</li>			
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<diq1jjv class="has_view_list">
					<ul class="goods_type_list clearfix">
					{%for shop in shoplist%}
				<li>
          <a href="{% url 'freshMall:detail'%}?goodsId={{shop.id}}""><img src="{%static shop.goodsRoute%}"></a>
					<h4><a href="detail.html">{{shop.goodsName}}</a></h4>
					<div class="operate">
						<span class="prize" name='{{showGoods.id}}'>￥{{shop.goodsPrice}}</span>
						<span class="unit" name='{{showGoods.goodsPrice}}'>{{shop.goodsPrice}}/{{shop.goodsUnit}}</span>
						<a href="javascript:;" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
				
			</ul>
		</div>
		</div>
	</div>



{%endblock content1%}
