{%extends "freshMall/base.html"%}
{%load static from staticfiles%}
<!-- 这是base 的开始 -->

{%block content%}
<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="{%static 'freshMall/images/logo.png'%}"></a>
		<div class="search_con fl">
			<form action='/search/' method='GET'>
			<input type="text" class="input_text fl" name="search" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>



	
{%block Tuiijan%}

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/freshMall/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

{%block content2%}{%endblock%}
</div>

{%endblock Tuiijan%}
{%endblock maincontent%}



{%endblock%}

