{%extends "freshMall/base.html"%}
{%load static from staticfiles%}
<!--这是首页 列表 商品详情列表 共用的搜索和购物车 -->
{%block content%}

	<div class="search_bar clearfix">   
        <a href="index.html" class="logo fl"><img src="{%static 'freshMall/images/logo.png'%}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>






{%block content1%} {%endblock%}

{%endblock content%}
