{%extends "freshMall/two_base.html"%}
{%block title%}<title>天天生鲜-商品列表</title>{%endblock%}
{%block maincontent%}
{%load static from staticfiles%}

<div class="breadcrumb">
    <a href="#">搜索结果</a>
    <span>></span>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                <li>
                    <a href="#"><img src="{%static 'freshMall/images/goods/goods001.jpg'%}"></a>
                    <h4><a href="#">进口柠檬</a></h4>
                    <div class="prize">￥3.90</div>
                </li>
                <li>
                    <a href="#"><img src="{%static 'freshMall/images/goods/goods002.jpg'%}"></a>
                    <h4><a href="#">玫瑰香葡萄</a></h4>
                    <div class="prize">￥16.80</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <div class="sort_bar">
            <a href="#" class="active">默认</a>
            <a href="#">价格</a>
            <a href="#">人气</a>
        </div>
{%if query%}
<!--     <h3>搜索结果如下：</h3> -->
    
        <!-- <a href="/{{ result.object.id }}/">{{ result.object.goodsName }}</a><br/> -->

    <ul class="goods_type_list clearfix">
    {%for result in object_list%}
        <li>
            <a href="{% url 'freshMall:detail'%}?goodsId={{result.object.id}}"><img src="{%static result.object.goodsRoute%}"></a>
            <h4><a href="{% url 'freshMall:detail'%}?goodsId={{result.object.id}}">{{result.object.goodsName}}</a></h4>
            <div class="operate">
                <span class="prize">{{result.object.goodsPrice}}</span>
                <span class="unit">{{result.object.goodsUnit}}</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
            </div>
        </li>
    
    {%empty%}
        <p>啥也没找到</p>
    {%endfor%}
    </ul>

    <!-- 分页 -->
    {%if page.has_previous or page.has_next%}
        <div class="pagenation">
            {%if page.has_previous%}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{%endif%}&laquo; 上一页{%if page.has_previous%}</a>{%endif%}
        |
            {%if page.has_next%}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{%endif%}下一页 &raquo;{%if page.has_next%}</a>{% endif%}
        </div>
    {%endif%}
    
        </div>
    </div>

{%endif%}

{%endblock maincontent%}